<html>
   <head>
      <style>
         div{
            display: flex;
            height: 100vh;
         }
         img{
            margin: auto;
         }
      </style>
   </head>
   <body>
    <div>
       <img src="{{qrcode}}">
    </div>
   </body>
</html>